@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A8F0EA;
  --bg: #18181A;
  --areaBg: #282B32;

  /* grayScale */
  --text: white;
  --textLess: #CCCCCC;
  --textMuted: #767676;
  --textPlaceholder: #818181;

}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #A8F0EA;
    --bg: #18181A;
    --areaBg: #282B32;

    /* grayScale */
<<<<<<< HEAD
=======
    --textDark: #333333;
>>>>>>> origin/feat/3-concertListPage
    --textLess: #CCCCCC;
    --textMuted: #818181;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  margin: 0 auto;
<<<<<<< HEAD
  font-weight: 500;
=======
  letter-spacing: -0.025rem;
>>>>>>> origin/feat/3-concertListPage
}

p {
  line-height: 140%;
}

body {
  background: var(--bg);
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
